*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/readme.html
/license.txt

/wampmanager.tpl
/barimage.bmp
/images_off.bmp
/images_on.bmp
/install-english.txt
/license-english.txt
/read_after_install-english.txt
/unins000.dat
/unins000.exe
/uninstall_services.bat
/wampmanager.conf
/wampmanager.exe
/wampmanager.ini
/apps
/cgi-bin
/lang
/logs
/scripts
/tmp
/alias
/www/testmysql.php
/www/wampthemes
/www/add_vhost.php
/www/favicon.ico
/www/index.php
/www/test_sockets.php
/bin/php
/bin/apache
/bin/mysql/mysql5.7.9/bin
/bin/mysql/mysql5.7.9/share
/bin/mysql/mysql5.7.9/COPYING
/bin/mysql/mysql5.7.9/my.ini
/bin/mysql/mysql5.7.9/my-default.ini
/bin/mysql/mysql5.7.9/README
/bin/mysql/mysql5.7.9/wampserver.conf
/bin/mysql/mysql5.7.9/data/mysql
/bin/mysql/mysql5.7.9/data/performance_schema
/bin/mysql/mysql5.7.9/data/sys
/bin/mysql/mysql5.7.9/data/table
/bin/mysql/mysql5.7.9/data/auto.cnf
/bin/mysql/mysql5.7.9/data/ib_buffer_pool
/bin/mysql/mysql5.7.9/data/ib_logfile0
/bin/mysql/mysql5.7.9/data/ib_logfile1
/bin/mysql/mysql5.7.9/data/ibdata1
/bin/mysql/mysql5.7.9/data/IVLEV-PC.err
/bin/mysql/mysql5.7.9/data/IVLEV-PC.pid
/bin/mysql/mysql5.7.9/data/ibtmp1
